.app {
    display: flex;
    min-height: 100vh;
    height: auto;
    flex-direction: column;
    align-items: center;
    background-color: #3795bb;
    font-family: Arial, Helvetica, sans-serif;
    padding: 30px 0 30px 0;

    .form-card {
        background-color: #fff;
        display: flex;
        flex-direction: column;
        width: 50%;
        margin: 10px;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 5px 5px 5px gray;

        h1 {
            text-align: center;
            margin-top: 0px;
        }

        .error-label {
            font-size: 13px;
            color: rgb(255, 0, 0);
            font-style: italic;
        }

        .input-field {
            margin-bottom: 20px;
        }

        label {
            margin-bottom: 50px;
        }

        input {
            display: flex;
            width: -webkit-fill-available;
            padding: 10px 20px;
            margin-top: 10px;
            border-radius: 5px;
            border: 1px solid #ddd;
        }

        input:focus {
            outline-color: hsl(214, 56%, 54%);
        }

        button {
            padding: 17px 40px;
            border-radius: 5px;
            border: 0;
            background-color: white;
            box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
            font-size: 15px;
            border-radius: 5px;
            border: 1px solid #ddd;
            transition: all .3s ease;
        }

        button:hover {
            background-color: hsl(226, 61%, 56%);
            color: hsl(0, 0%, 100%);
            box-shadow: rgb(44, 119, 218) 0px 2px 10px 0px;
            cursor: pointer;
        }

        button:active {
            background-color: hsl(214, 56%, 54%);
            color: hsl(0, 0%, 100%);
            box-shadow: rgb(48, 136, 207) 0px 0px 0px 0px;
            transform: translateY(1px);
            transition: 100ms;
        }
    }

    .registrations-label {
        text-align: center;
        color: hsl(0, 0%, 100%)
    }

    .no-registrations {
        text-align: center;
        color: hsl(0, 0%, 100%)
    }

    .registrations {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;

        .registration-card {
            background-color: white;
            margin: 10px;
            font-size: small;
            box-shadow: 0px 0px 5px gray;
            display: flex;
            border-radius: 5px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 200px;
            position: relative;

            h2 {
                display: flex;
                justify-content: center;
                border-radius: 5px 5px 0px 0px;
                width: 100%;
                margin: 0px;
                height: 3.5rem;
                font-size: 30px;
                align-items: center;
                text-align: center;
                position: static;
                overflow: hidden;
                object-fit: cover;
                color: #fff;
                background-color: rgb(33, 51, 75);
                position: relative;

            }

            .close {
                display: block;
                width: 20px;
                position: absolute;
                background-color: transparent;
                text-align: end;
                top: 0%;
                right: 3%;
                font-size: 30px;
                color: #fff;
                border: none;
                z-index: 10;
                transition: all .2s ease;

                &:hover {
                    cursor: pointer;
                    color: rgb(69, 96, 132);
                    // transition: all .2s ease;
                }
            }

            p {
                margin: 6px;
                border-bottom: 1px#cccccc solid;
                width: 90%;
                display: flex;
                align-items: center;
                background-color: rgb(255, 255, 255);
                color: #333;
                padding: 0px 0 5px 0;
                overflow: hidden;

                strong {
                    color: #000000;
                }
            }

            p:last-child {
                border: none;
            }
        }

    }
}